  .login-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin-top: -30px;
}

.login-bg-1 {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-img-1 {
   
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-bottom-left-radius: 50px;
}
.logo-img-1  p{
    color: aliceblue;
}

.login-box-1 {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    z-index: 1;
    
}
.logo-img-1{
    color: aliceblue;
}

.login-logo-1 {
    width: 80px;
    margin-top: 100px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
}

.forgot-password {
    display: block;
    text-align: right;
    font-size: 0.8em;
    color: #0073e6;
    text-decoration: none;
    margin-top: 5px;
}

.login-button {
    background: #0073e6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.login-button:hover {
    background: #005bb5;
}
@media (max-width: 768px) {
    .login-box-1 {
        width: 100%;
        padding: 0px;
        text-align: start;
        margin-top: 150px;
        margin-left: -35px;
        box-shadow: none;
        border: none; 
    }

    .login-logo-1 {
        width: 90px;
        margin-top: 50px;
    }

    h2 {
        font-size: 1.2em;
    }

    .input-group input {
        font-size: 0.8em;
        padding: 8px;
    }

    .forgot-password {
        font-size: 0.7em;
    }

    .login-button {
        font-size: 0.9em;
        padding: 8px;
    }
}