
   .sidebar {
    width: 80px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .sidebar-link {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* color: #333; */
    font-size: 14px; 
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar-link img {
    max-width: 20px; 
  }
  .sidebar-link-logout-link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 14px; 
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
   margin-top: 500px;
   margin-left: -50px;
  }
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: 60px;
      background-color: #ffffff;
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); 
    }
  
    .sidebar-nav {
      flex-direction: row;
    }
  
    .sidebar-link {
      padding: 5px; 
    }
  
    .sidebar-link img {
      max-width: 24px; 
    }
  } 